@import url('https://fonts.googleapis.com/css?family=Exo+2:300,400,500,600,700');

body {
    font-family: 'Exo 2', sans-serif;
}

a {
    color: #24262b;
}

a:hover,
a:active,
a:focus {
    color: #7dc246;
}

.list-style-none {
    list-style-type: none;
}

.logo-image {
    height: 46px;
    overflow: hidden;
    margin-top: -6px;
    color: #24262b;
    font-weight: 600;
}

.logo-image span {
    color: #7dc246;
}

.logo-image img {
    max-height: 100%;
}

.btn.btn-pobiegam {
    color: #24262b;
    background-color: transparent;
	border: 2px solid #7dc246;
	font-weight: 600;
}

.btn.btn-pobiegam:hover {
    color: #fff;
    background-color: #7dc246;
    border: 2px solid #7dc246;
	cursor: pointer;
}

.btn.btn-pobiegam:focus,
.btn.btn-pobiegam:active,
.btn.btn-pobiegam:visited {
    border: 2px solid transparent;
}
    

.facebook-footer {
    font-size: 20px;
    line-height: 12px;
}

.facebook-footer:hover {
    color: #3b5998;
}

.table-posts tr td,
.table-posts tr td i {
    vertical-align: middle;
}

.table-posts tr td i {
    font-size: 22px;
}

.pobiegam-form-control {
    background-color: #fff !important;
    padding-left: 10px !important;
}

#header-searchbox .form-group {
    display: inline-block;
    padding-top:0px;
}

#header-searchbox input,
#header-searchbox select {
    width: 256px;
}

#header-searchbox input {
    padding-left: 25px !important;
}

#header-searchbox .btn {
    margin-top: 0px;
}

#header-searchbox i.material-icons {
    color: #3C4858;
    position: absolute;
    left: 0px;
    top: 5px;
}

.icons-text-bottom .material-icons {
    vertical-align: text-bottom;
}

#post-contact {
    font-size: 15px;
}

.pobiegam-pagination > .page-item.active > a,
.pobiegam-pagination > .page-item.active > a:focus {
    background-color: #24262b;
    border-color: #24262b;
}

.pobiegam-pagination > .page-item.active > a:hover {
	background-color: #7dc246;
    border-color: #7dc246;
}

#scity::placeholder {
    line-height: 20px;
}

.pobiegam-form .title {
    margin-bottom: 0px;
}

.pobiegam-form .form-check .form-check-input:checked + .form-check-sign .check {
    background: #7dc246;
}

.motto {
    text-align: center;
    font-size: 26px;
    color: green;
    line-height: 1.5;
    padding-bottom: 60px;
}

.list-reg {
    padding-left: 0px;
}

.list-reg ol {
    list-style-position: inside;
}

.post-details-img {
    width: 180px;
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
}

@media screen and (max-width: 768px)
{
    .post-details-img {
        float: none;
    }

    .post-details h5 {
        text-align: left !important;
    }
}
